.form {
  display: flex;
  flex-direction: column;
}

.form__newTaskContainer {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.newTaskContainer__Header {
  font-size: 20px;
  margin: 0;
}

.form__addNewTaskContainer {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 100px;
  justify-content: space-between;
  gap: 10px;
}

.newTask__input {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.newTask__addButton {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(93, 190, 93);
  border: 0;
  border-radius: 4px;
  color: #fff;
}

.form__tasksHeaderContainer {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.tasksContainer__header {
  font-size: 20px;
  margin: 0;
}
