:root {
  --background-color-white: #fff;
  --border-radius: 4px;
}

.section__header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  margin: 0;
  background-color: var(--background-color-white);
  padding: 15px;
  margin-bottom: 3px;
  border-radius: var(--border-radius);
}

.section__header--header {
  font-size: 20px;
  margin: 0;
}

.header__button {
  margin: 0;
}

.header__button--order {
  justify-self: end;
  font-size: 12px;
}

.section {
  margin-bottom: 15px;
}

.form {
  background-color: var(--background-color-white);
  padding: 20px;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  gap: 0 10px;
}

.form__input {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: var(--border-radius);
}

.form__addButton {
  padding: 10px;
  font-size: 16px;
  background-color: rgb(93, 190, 93);
  border: 0;
  border-radius: var(--border-radius);
  color: #1f1f1f;
}

.form__addButton:hover {
  background-color: hsl(120, 43%, 45%);
  cursor: pointer;
}

.form__addButton:focus {
  transform: scale(0.98);
}

.form__errorMessageContainer {
  color: red;
  margin: 5px 0 0 5px;
}
