.form {
  display: flex;
  flex-direction: column;
}

/* pierwszy kontener - "dodaj nowe zadanie" */
.form__newTaskContainer {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.newTaskContainer__Header {
  font-size: 20px;
  margin: 0;
}

/* drugi kontener - dodawanie zadania */
.form__addNewTaskContainer {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.newTask__input {
  border: 1px solid #ddd;
  max-width: 580px;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

.newTask__addButton {
  padding: 10px;
  width: 150px;
  font-size: 16px;
  background-color: rgb(93, 190, 93);
  border: 0;
  border-radius: 4px;
  color: #fff;
}

/* trzeci kontener - "Lista zadań" */
.form__tasksHeaderContainer {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 4px;
}

.tasksContainer__header {
  font-size: 20px;
  margin: 0;
}

/* dodawane zadania */
.form__tasksList {
  background-color: #ffffff;
  border-radius: 4px;
  min-height: 50px;
}

.tasks {
  padding: 0 30px;
  margin: 10px 0;
}

.task__item {
  border-bottom: 1px solid #ddd;
  list-style-type: none;
  padding: 10px 0;
}
