@media (max-width: 480px) {
  .main {
    margin: 20px auto;
    padding: 15px;
  }

  .form {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .tasks__content {
    word-break: break-word;
  }
}
