html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  background-color: #eee;
}

.mainContainer {
  font-family: "Rubik", sans-serif;
  margin: 100px auto;
  max-width: 800px;
  padding: 10px;
}
